/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #efefef
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.app-header {
	text-align: center;
	background-color: #3f51b5; 
	color: white;
	padding: 10px;
	margin: 0px !important;
}

.add-item-btn {
	width: 100%;
}

.btn{
	padding: 0px;
	background-color: #f50057 !important;
}

#feedForm {
	width: 100%;
	padding: 20px 100px 70px 100px;
	position: relative;
	background-color: #fff;
}

.add-news {
	position: absolute !important;
	bottom:-28px;
	right: 0px;
	left: 0px;
	margin: auto;
	background-color: #f50057 !important;
}

.feed-container {
	position: relative;
}

.add-new-news {
	position: fixed !important;
	bottom: 25px;
	right: 25px;
	background-color: #f50057 !important;	
}

.form-control.description {
	margin-bottom: 0px;
}

.right-end {
	text-align: center;
	margin: 15px 0px !important;
	display: block !important;
}

.news-list{
	padding: 15px;
}

.votecount-pv, .votecount-nv{
	padding: 10px;
	border-radius: 50%;
	color: #fff;
}

.votecount-pv{
	background-color: #8bc34a;
}

.votecount-nv{
	background-color: #e53935;
}

.extra-pad {
	padding-left:14px;
	padding-right:14px;
}

.waves-indigo {
	color: #3f51b5 !important;
}

.list-grp {
	width: 80% !important;
	margin: 10px auto !important;
}

/* label focus color */
 .input-field input:focus + label {
   color:  #3f51b5 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid  #3f51b5 !important;
   box-shadow: 0 1px 0 0  #3f51b5 !important
 }

 /* label focus color */
 .input-field textarea:focus + label {
   color:  #3f51b5 !important;
 }
 /* label underline focus color */
 .row .input-field textarea:focus {
   border-bottom: 1px solid  #3f51b5 !important;
   box-shadow: 0 1px 0 0  #3f51b5 !important
 }

 .loader-gif {
 	display: block;
 	margin: 0 auto;
 	height: 50px;
 }